/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* General reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* common css */
body {
  background: url(../images/bgimg.jpg) no-repeat;
  background-size: cover;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  justify-content: space-around;
}
.flex {
  display: flex;
}
.box {
  /* width: 30%; */
  padding: 100px 120px;
  font-size: 24px;
  color: #fffeee;
  border-radius: 12px;
}
/* header */
h1 {
  text-align: center;
  padding-top: 24px;
  color: #fffeef;
  font-size: 28px;
}
/* box-section */
.box-section {
  padding: 50px 0;
}
.box-1 {
  background: #ed3946;
}
.box-2 {
  background: linear-gradient(to right, #332924, #ed3946);
}
.box-3 {
  background: radial-gradient(#332924, #ed3946);
}
.img {
  background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.66),
      rgba(240, 128, 128, 0.5)
    ),
    url(../images/pic01.jpg) no-repeat;
  background-size: cover;
  padding: 200px 400px;
  margin: 50px;
  text-align: center;
  font-size: 30px;
  color: #fffeef;
  display: block;
}
img {
  max-width: 100%;
}
